
.card-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $body-font;

  .image-container {
    margin-left: 4rem;
    margin-right: 1rem;
    height: 28rem;
    width: 21rem;
    background-color: black;
    border-radius: 3px;
    img {
      height: 100%;
      width: 100%;
      border: 0px solid red;
      border-radius: 1rem;
    }
  }

  .stat-block-container {
    width: 21rem;
  }

  .set-stats-container {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-left: 1rem;
    width: 21rem;
    // border: 1px solid red;
    #set-pie-ph {
      width: 100%;
      height: 50%;
      // border: 1px solid blue;  // <--- DESTROY AFTER CHARTS ARE SET
    }
    #set-bar-ph {
      width: 100%;
      height: 50%;
      // border: 1px solid pink;
    }
  }

  .card-title-container {
    display: flex;
    flex-direction: row;
    h2 {
      font-size: 1.3rem;
      font-family: $sub-font;
    }
  }
}




