@import "reset.scss";

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: rgb(138, 138, 138);
$accent-color: darken($main-color, 10%);
$background-color: lighten($main-color, 40%);

$body-font: 'Open Sans', sans-serif;
$sub-font: 'Lato', sans-serif;
$title-font: 'Roboto Mono', monospace;

body {
  background-color: $background-color;
  color: $main-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background: white;
  min-height: 20rem;
  min-width: 40rem;
  border-radius: .2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  @include basic-box-shadow($accent-color);
  margin-left: 5rem;
  margin-right: 5rem;

  .nav {
    margin-top: .8rem;

    a {
      color: $main-color;
    }
  }

  .nav-link {
    font-size: 2rem;
    margin: 0 .5rem;
  }
}

h2 {
  font-size: 3rem;
}

@import "header.scss";
@import "card.scss";
@import "modal.scss";