@import "reset.scss";

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: rgb(138, 138, 138);
$accent-color: darken($main-color, 10%);
$background-color: lighten($main-color, 40%);

// LAYOUT

body {
  background-color: $background-color;
  color: $main-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

// COMPONENTS
.board {
  background: white;
  min-height: 20rem;
  min-width: 40rem;
  border-radius: .2rem;
  margin-top: 15px;
  padding-bottom: 1.5rem;
  @include basic-box-shadow($accent-color);
}

// TYPOGRAPHY
h2 {
  font-size: 3rem;
}

@import "searchbar.scss";
@import "card.scss";